.myArticle {
  background-color: #212529;
  height: 100%;
  max-height: 380px;
  margin-top: 24px;
}

.card-text {
  color: lightgray;
}

.card-text.title {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.144);
}

.card-text.summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
}

.card-img {
  min-height: 40%;
  max-height: 40%;
}

.update {
  font-size: 0.7em;
}

/* CSS instructions for the focus article */

.focusArticle {
  color: lightgrey;
  background-color: #212529;
}

.focusTitle {
  color: lightgray;
  font-size: 2em;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.144);
}
